PYTHON_BACKEND_CORS_ORIGINS=http://localhost:4321,http://127.0.0.1:4321
PYTHON_BACKEND_MAX_UPLOAD_BYTES=20971520
PYTHON_BACKEND_MAX_GRID_SIZE=150
PYTHON_BACKEND_REQUEST_TIMEOUT_SECONDS=30
PYTHON_BACKEND_QUEUE_TIMEOUT_SECONDS=5
PYTHON_BACKEND_MAX_INFLIGHT_REQUESTS=128
PYTHON_BACKEND_MAX_DECODED_PIXELS=40000000
PYTHON_BACKEND_CV_WORK_MAX_EDGE=1024
PYTHON_BACKEND_CV_MAX_CONCURRENCY=2
PYTHON_BACKEND_CV_OPENCV_THREADS=1
PYTHON_BACKEND_TINY_MODEL_ENABLED=true
PYTHON_BACKEND_TINY_MODEL_DEVICE=cuda
PYTHON_BACKEND_TINY_MODEL_DIR=../data/model
PYTHON_BACKEND_TINY_MODEL_MAX_CONCURRENCY=1
PYTHON_BACKEND_TINY_MODEL_WORK_MAX_EDGE=1280
PYTHON_BACKEND_TINY_MODEL_WARMUP=true
PYTHON_BACKEND_BENTO_WORKERS=1
PYTHON_BACKEND_BENTO_REPLICAS=1
PYTHON_BACKEND_BENTO_MAX_CONCURRENCY=32
PYTHON_BACKEND_GPU_RESOURCE_COUNT=1
PYTHON_BACKEND_MAX_BATCH_SIZE=8
PYTHON_BACKEND_MAX_BATCH_LATENCY_MS=25
